<!DOCTYPE html>
<html>

<head th:replace="fragmentos/fragmentos-layout :: cabecalho"></head>

<body>
    <nav th:replace="fragmentos/fragmentos-layout :: menu"></nav>
    <main class="quadro1">
        <section class="quadro2">
            <div class="quadro3">
                <h1 class="titulo-inicio">Cadastro de Profissional</h1>
                <form th:action="@{/profissional/salva}" method="POST" th:object="${profissional}">
                    <fieldset class="quadro-campos">
                    	
                    	<div th:replace="fragmentos/fragmentos-mensagens :: mensagem-erro"></div>
                    	
                    	<input type="hidden"  th:field="*{codigo}"/>	
	
		  <div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-danger">
                            <label for="nome" class="col-2 col-form-label">Nome</label>
                            <div class="col-md-8 col-sm-10 col-12">
                                <input class="form-control" type="text" id="nome" th:field="${profissional.nome}" autofocus="autofocus" placeholder="Nome Completo do Profissional">
                            </div>
                        </div>
		   <div class="form-group" th:classappend="${#fields.hasErrors('profissao')} ? has-danger">
                            <label for="profissao" class="col-2 col-form-label">Profissão</label>
                            <div class="col-md-8 col-sm-10 col-12">
                                <input class="form-control" type="text" id="profissao" th:field="${profissional.profissao}" autofocus="autofocus" placeholder="Profissão">
                            </div>
                        </div>
               <label for="telefone" class="col-2 col-form-label">Telefone</label>
               <div class="col-md-3 col-sm-6 col-12">
             <input class="form-control" type="tel" id="telefone" th:field="${profissional.telefone}">

          </div>
    	 <div class="form-group">
              <label for="valorhora" class="col-2 col-form-label">Valor/Hora</label>
                <div class="col-md-3 col-sm-6 col-12">
             <input class="form-control moeda-js" type="text" id="valorhora" th:field="${profissional.valorhora}">
            </div>
          </div>
            <div class="form-group">
                            <label for="observacao" class="col-2 col-form-label">Observação</label>
                            <div class="col-md-8 col-sm-10 col-12">
                                <input class="form-control" type="text" id="observacao" th:field="${profissional.observacao}" >
                            </div>
                        </div>

		  <button type="submit" class="btn btn-primary">Salvar</button>
		</form>
</main>

 <th:block th:replace="fragmentos/fragmentos-scripts :: bootstrap" ></th:block> 
</body>
</html>